asgiref
certifi
charset-normalizer
cloudinary
Django
django-cloudinary-storage
django-crispy-forms
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
Pillow
psycopg2-binary
py-recommendation
python-dateutil
python-decouple
pytz
requests
scikit-learn
scipy
shortuuid
six
sqlparse
typing-extensions
urllib3
whitenoise
