<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	.multiselect {
	  /*width: 200px;*/
	}

	.selectBox {
	  position: relative;
	}

	.selectBox select {
	  /*width: 100%;*/
	  /*font-weight: bold;*/
	}

	.overSelect {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	}

	#checkboxes {
	  display: none;
	  border: 1px #dadada solid;
	  padding: 0 1em
	}

	#checkboxes label {
	  display: block;
	}

	#checkboxes label:hover {
	  background-color: #1e90ff;
	}
</style>
</head>
<body>
<div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes()">
		<select name="{{ widget.name }}" {% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
		    <option>Select an option</option>
		</select>

		<div class="overSelect"></div>
	</div>

	<div id="checkboxes">
	{% for group_name, group_choices, group_index in widget.optgroups %}
		{% for option in group_choices %}

		<label for="{{ option.label }}">
	        <input type="checkbox" name="brand" id="{{ option.label }}" />{{ option.label }}
	    </label>

	  	{% endfor %}
	{% endfor %}
	</div>
</div>


<script>
var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}

  
</script>

</body>
</html>

