{% extends 'user/base.html'%}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Full Name{% endblock %}

{% block body %} 

<div class="pb-5">
<div class="row pt-3">
  <div class="col-md-10 col-lg-6 mx-auto">

        {% if messages %}
        <ul>{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}

  <div class="fs-2 pb-3 text-center">Full Name</div>


    <div class="container-fluid rounded shadow-sm bg-white py-3" style="max-width: 425px">


      <form action="/settings/fullname/" method="post">
        {{ form|crispy }}

            {% csrf_token %}

        <div class="pb-3">
          <button class="btn btn-success btn-sm w-100" id="subBtn" type="submit">Update</button>
        </div>
    </form>
        
    </div>
  </div>
</div>
</div>


{% endblock %}


{% block script %}


{% endblock %}








