

{# BLOCK 1 #}

          <div class="py-2">
            <div class="fw-normal text-black-75 mb-1">Brand</div>
            {% for i in brand %}
            <span class="px-1 py-1 me-1 rounded filter-btn" style="cursor: pointer; line-height: 2; font-size: 0.9em">{{ i }}</span>
            {% endfor %}
          </div>
          <div class="py-2">
            <div class="fw-normal text-black-75 mb-1">Color</div>
            {% for i in body_color %}
            <span class="px-1 py-1 me-1 rounded filter-btn" style="cursor: pointer; line-height: 2; font-size: 0.9em">{{ i }}</span>
            {% endfor %}
        </div>
        <div class="py-2">
            <div class="fw-normal text-black-75 mb-1">Operation Systerm</div>
            {% for i in os %}
            <span class="px-1 py-1 me-1 rounded filter-btn" style="cursor: pointer; line-height: 2; font-size: 0.9em">{{ i }}</span>
            {% endfor %}
        </div>
          <div class="py-2">
             <div class="fw-normal text-black-75 mb-1">Network</div>
            {% for i in network %}
            <span class="px-1 py-1 me-1 rounded filter-btn" style="cursor: pointer; line-height: 2; font-size: 0.9em">{{ i }}</span>
            {% endfor %}
        </div>
        
        <div class="py-2">
             <div class="fw-normal text-black-75 mb-1">Storage</div>
            {% for i in storage %}
            <span class="px-1 py-1 me-1 rounded filter-btn" style="cursor: pointer; line-height: 2; font-size: 0.9em">{{ i }}</span>
            {% endfor %}
        </div>
        
        <div class="py-2">
             <div class="fw-normal text-black-75 mb-1">Ram</div>
            {% for i in ram %}
            <span class="px-1 py-1 me-1 rounded filter-btn" style="cursor: pointer; line-height: 2; font-size: 0.9em">{{ i }}</span>
            {% endfor %}
        </div>
        
        <div class="py-2">
             <div class="fw-normal text-black-75 mb-1">Display Resolution</div>
            {% for i in display_resolution %}
            <span class="px-1 py-1 me-1 rounded filter-btn" style="cursor: pointer; line-height: 2; font-size: 0.9em">{{ i }}</span>
            {% endfor %}
        </div> 
       